<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Food for Foodies"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Test">
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".ForumActivity"
            android:parentActivityName=".MainMenuActivity"
            android:label="Forum"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".StreetList"
            android:parentActivityName=".MainMenuActivity"
            android:label="StreetList"
            android:exported="false" />
        <activity
            android:name=".RestaurantList"
            android:parentActivityName=".MainMenuActivity"
            android:label="Restaurant List"
            android:exported="false" />
        <activity
            android:name=".RestaurantSingle"
            android:parentActivityName=".RestaurantList"
            android:label="Restaurant Details"
            android:exported="false" />
        <activity
            android:name=".forgotPassword"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainMenuActivity"
            android:label="Profile"
            android:exported="false" />
        <activity
            android:name=".RegisterUser"
            android:parentActivityName=".MainMenuActivity"
            android:label="Register User"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>